<?xml version='1.0' encoding='utf-8'?>
<widget id="X9MSMGXLM5.com.tf.edirneulasim" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Edirne Ulaşım</name>
    <description>
     Edirne Belediyesi Ulaşım Sistemi
    </description>
    <author email="owner@rkurcan.com" href="https://rkurcan.com">
     Remzi Kurçan
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
	<plugin name="cordova-plugin-network-information" version="1.2.1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
 <platform name="android">
        <allow-intent href="market:*" />
        <icon src="180x180.png" />
    </platform>
    <platform name="ios">
	 
        <icon src="180x180.png" />
    
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
