<?xml version='1.0' encoding='utf-8'?>
<widget id="X9MSMGXLM5.com.tf.SMPInsaat" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SMP İnşaat</name>
    <description>
     SMP İnşaat Sistemi
    </description>
    <author email="owner@rkurcan.com" href="https://rkurcan.com">
     Remzi Kurçan
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
	<plugin name="cordova-plugin-network-information" version="1.2.1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
 <platform name="android">
        <allow-intent href="market:*" />
        <icon src="180x180.png" />
    </platform>
    <platform name="ios">
	 
  <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="180x180.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
 
        <icon src="120x120.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="76x76.png" width="76" height="76" />
        <icon src="72x72.png" width="72" height="72" />
        <icon src="152x152.png" width="152" height="152" />
        <!-- iOS 6.1 -->

        <icon src="57x57.png" width="57" height="57" />
 


    
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
